.vscode
node_modules

/client/node_modules
/client/.pnp
/client/.pnp.js
/client/dist
/client/.DS_Store
/client/.env
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/server/node_modules/
/server/build/
/server/.env
/server/database.json
package-lock.json
